<p id="notice"><%= notice %></p>

<h1>Listing Problems</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Trial</th>
      <th>Success</th>
      <th>Percentage</th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.code %></td>
        <td><%= problem.title %></td>
        <td><%= problem.trial %></td>
        <td><%= problem.success %></td>
        <td><%= problem.percentage %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
